{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

    <title>Copy That</title>
</head>
<body>
    <style>
        body{
            margin: 0;
            padding: 0;
        }

        .ul{
           margin-top: auto; 
        }

        .inList{
            display: inline;
            margin-left: 20px;
            margin-right: 10px;
        }
        @media screen and (max-width:768px) {
            .inList{
                display: inline;
                margin-left: 10px;
                margin-right: 5px;
            }
        }
    </style>
    <nav style="display: flex; border: 2px solid red;">
        <div style="width: 30%;">
            <h3>Copy That</h3>
        </div>
        <div style="margin:auto 0 auto auto;">
            <ul>
                <li class="inList">Idea</li>
                <li class="inList">Option</li>
                <li class="inList">Nav Sha</li>
            </ul>
        </div>
    </nav>
    {% block content %}

    {% endblock content %}
</body>
</html>